/* Reset */
body {
    margin: 0;
    background-color: #a5c9e4;
    font-family: 'Segoe UI', sans-serif;
}

/* Header */
.dashboard-header {
    background: linear-gradient(90deg, #0d6efd, #198754);
    padding: 10px 0;
    color: white;
}
.dashboard-header img {
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.logo {
    margin: 0;
    font-weight: bold;
}

.user-info {
    font-size: 15px;
}

/* Stats Cards */
.stat-card {
    background: white;
    border-radius: 15px;
    padding: 25px 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
}

/* Stats Icons */
.stat-card i {
    font-size: 35px;
    margin-bottom: 10px;
    color: #0d6efd;
}

/* Numbers */
.stat-card h4 {
    font-size: 28px;
    font-weight: 700;
    margin: 5px 0;
}

/* Labels */
.stat-card p {
    margin: 0;
    font-size: 14px;
    color: #666;
}


/* Main */
section h3 {
    font-weight: 600;
    color: #333;
}

/* Action Cards */
.action-card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.action-card:hover {
    transform: translateY(-6px);
}

/* Icons */
.action-card i {
    font-size: 50px;
    margin-bottom: 15px;
}

.donate i {
    color: #198754;
}

.request i {
    color: #0d6efd;
}

/* Text */
.action-card h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

.action-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* Buttons */
.btn {
    border-radius: 10px;
    font-weight: 600;
}

.footer {
  background-color: #333; /* Dark background for the footer */
  color: white; /* White text */
  padding: 10px 0;
  margin-top: 175px;
}

.footer p {
  font-size: 14px;
  line-height: 1.5;
}

footer .text-center {
  color: #fdb800;
  font-size: 14px;
  margin-top: 10px;
  
}







